<div class="container mt-4">
  <h1><%= @list.name %></h1>
  <% @bookmarks.each do |bookmark| %>
  <h4><%= bookmark.movie.title %> <%= link_to '☠️', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure you want to delete ' } %> </h4>
  <p><%= bookmark.comment %> </p>
  <% end %>
  <%= link_to 'Create new bookmark', new_list_bookmark_path(@list), class: "btn btn-primary" %>
  <p class="mt-4"> <%= link_to 'Back to lists', lists_path, class: "btn btn-outline-info" %> </p>
</div>
